services:
  
  rt-rename:
    build:
      context: . # Change this if you want your build config to be in a subdirectory
      dockerfile: dockerfile
    ports:
        - 8055:8055
    command: tail -F anything
    environment:
      - OLLAMA_HOST=ollama
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            count: 'all'
            capabilities: [gpu]
  
  ollama:
    image: ollama/ollama
    volumes: 
       - ollama:/root/.ollama
    ports:
      - 11435:11434
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            count: 'all'
            capabilities: [gpu]

volumes:
  ollama: