numpy
matplotlib
scipy
scikit-build
itk==5.4rc3
SimpleITK-SimpleElastix==2.4.0.dev67
TotalSegmentator
dash
dash-bootstrap-components
ollama
openpyxl
dash_daq
dash_ag_grid
openai
diskcache
dash[diskcache]